<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark bg-gradient-dark" id="sidenav-main"
     style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0) !important;">
    {# disable ugly shadow #}
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">

                    <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="ni ni-bell-55"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                         aria-labelledby="navbar-default_dropdown_1">
                        <a class="dropdown-item" href="#">Action</a> {# TODO: Add smth #}
                        <a class="dropdown-item" href="#">Another action</a> {# TODO: Add smth #}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a> {# TODO: Add smth #}
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="{{ user.username }}" src="{{ user.profile.avatar.url }}">
              </span>
                        </div>
                    </a>


                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Здравствуйте!</h6>
                        </div>

                        <a href="" class="dropdown-item"> {# TODO: Link #}
                            <i class="ni ni-single-02"></i>
                            <span>Мой профиль</span>
                        </a>

                        <a href="" class="dropdown-item"> {# TODO: Link #}
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Настройки</span>
                        </a>

                        <a href="" class="dropdown-item"> {# TODO: Link #}
                            <i class="ni ni-support-16"></i>
                            <span>Поддержка</span>
                        </a>

                        <div class="dropdown-divider"></div>
                        <a href="{% url 'user_logout' %}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Выйти</span>
                        </a>
                    </div>
                </li>
            </ul>
        {% endif %}
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/">
                            <img src="{{ STATIC_URL }}img/brand/logo.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main"
                                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- SEARCH -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-muted" placeholder="Search"
                           aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- SEND OF SEARCH -->

            <!-- Navigation -->
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        {% if pagename == 'greetings' %}
                            <a class=" nav-link active" href=""> {# TODO: Link #}
                                {#                                страница для неавторизированных #}
                                <i class="ni ni-compass-04 text-primary"></i>Добро пожаловать!
                            </a>
                        {% else %}
                            <a class=" nav-link" href=""> {# TODO: Link #}
                                <i class="ni ni-compass-04 text-blue"></i>Добро пожаловать!
                            </a>
                        {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_login' %}">
                            <i class="ni ni-key-25 text-info"></i> Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_register' %}">
                            <i class="ni ni-circle-08 text-pink"></i> Регистрация
                        </a>
                    </li>
                    </li>

                {% else %}
                    <li class="nav-item">
                        {% if pagename == 'Dashboard' %}
                            <a class=" nav-link active" href="/">
                                <i class="ni ni-tv-2 text-primary"></i> Dashboard
                            </a>
                        {% else %}
                            <a class=" nav-link" href="/">
                                <i class="ni ni-tv-2 text-blue"></i> Dashboard
                            </a>
                        {% endif %}
                        {% if pagename == 'Проекты' and user.profile.confirmed is True %}
                            <a class=" nav-link active" href="{% url 'projects_list' %}"> {# TODO: Link #}
                                <i class="ni ni-collection text-primary"></i> Проекты
                            </a>
                        {% else %}
                            <a class=" nav-link" href="{% url 'projects_list' %}"> {# TODO: Link #}
                                <i class="ni ni-collection text-teal"></i> Проекты
                            </a>
                        {% endif %}
                        {% if pagename == 'Новый проект' and user.profile.confirmed is True %}
                            <a class=" nav-link active" href="{% url 'project_create' %}"> {# TODO: Link #}
                                <i class="ni ni-app text-primary"></i> Новый проект
                            </a>
                        {% else %}
                            <a class=" nav-link" href="{% url 'project_create' %}"> {# TODO: Link #}
                                <i class="ni ni-app text-red"></i> Новый проект
                            </a>
                        {% endif %}
                        {% if pagename == 'Соревнования' and user.profile.confirmed is True %}
                            <a class=" nav-link active" href=""> {# TODO: Link #}
                                <i class="ni ni-trophy text-primary"></i> Соревнования
                            </a>
                        {% else %}
                            <a class="nav-link" href=""> {# TODO: Link #}
                                <i class="ni ni-trophy text-primary"></i> Соревнования
                            </a>
                        {% endif %}
                        {% if pagename == 'Мероприятия' and user.profile.confirmed is True %}
                            <a class=" nav-link active" href=""> {# TODO: Link #}
                                <i class="ni ni-diamond text-primary"></i> Мероприятия
                            </a>
                        {% else %}
                            <a class="nav-link" href=""> {# TODO: Link #}
                                <i class="ni ni-diamond text-primary"></i> Мероприятия
                            </a>
                        {% endif %}

                    </li>
                {% endif %}
            </ul>
            <br>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {#                    15171e#}
                        {% include "blocks/user_projects.html" %}
                    </li>
                {% endif %}
            </ul>

            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <!-- <h6 class="navbar-heading text-muted">Другое</h6> -->
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href=""> {#  TODO: Link #}
                        <i class="ni ni-planet"></i> О нас
                    </a>
                </li>
            </ul>
        </div>
        <div class="social-buttons">
            <div class="nav align-items-center pt-sm-0" style="margin-top: 1px;">
                <img src="{{ STATIC_URL }}img/brand/logo.png" width="55px" height="55px" alt="...">
            </div>
            <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="VK">
    <span class="social-button__inner">
     <i class="fab fa-vk" style="font-size: 20px;"></i>
    </span>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Telegram">
    <span class="social-button__inner">
     <i class="fab fa-telegram-plane" style="font-size: 20px;"></i>
  </span>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
    <span class="social-button__inner">
     <i class="fab fa-github" style="font-size: 20px;"></i>
    </span>
            </a>

        </div>
    </div>
</nav>