<style>
    @media screen and (max-width: 720px) {
        .footer {
            left: 0px;
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 768px) {
        .dropdown-menu.show {
            left: 10px;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 768px) {

    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {

    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {

    }
</style>
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark bg-gradient-dark" id="sidenav-main"
     style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0) !important;">
    {# disable ugly shadow #}
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">

                    <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right bg-dark"
                         aria-labelledby="navbar-default_dropdown_1">
                        {% if pagename == 'Лента Проектов' %}
                            <a class="dropdown-item nav-link active" href="/">
                                {#                                страница для неавторизированных #}
                                <i class="ni ni-compass-04 text-dark"></i>Лента Проектов
                            </a>
                        {% else %}
                            <a class="dropdown-item nav-link" href="/"> {# TODO: Link #}
                                <i class="ni ni-compass-04 text-primary"></i>Лента Проектов
                            </a>
                        {% endif %}
                        {% if pagename == 'Мои Проекты' %}
                            <a class="dropdown-item nav-link active" href="{% url 'projects_list' %}"> {# TODO: Link #}
                                <i class="ni ni-collection text-dark"></i> Мои Проекты
                            </a>
                        {% else %}
                            <a class="dropdown-item nav-link" href="{% url 'projects_list' %}"> {# TODO: Link #}
                                <i class="ni ni-collection text-teal"></i> Мои Проекты
                            </a>
                        {% endif %}
                        {% if pagename == 'Новый Проект' %}
                            <a class="dropdown-item nav-link active" href="{% url 'project_create' %}"> {# TODO: Link #}
                                <i class="ni ni-app text-dark"></i> Новый Проект
                            </a>
                        {% else %}
                            <a class="dropdown-item nav-link" href="{% url 'project_create' %}"> {# TODO: Link #}
                                <i class="ni ni-app text-red"></i> Новый Проект
                            </a>
                        {% endif %}
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="{{ user.username }}" src="{{ user.profile.avatar_url }}">
              </span>
                        </div>
                    </a>


                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right bg-dark">

                        <a href="" class="dropdown-item text-light"> {# TODO: Link #}
                            <i class="ni ni-single-02 text-light"></i>
                            <span>Мой профиль</span>
                        </a>

                        <a href="" class="dropdown-item text-light"> {# TODO: Link #}
                            <i class="ni ni-settings-gear-65 text-light"></i>
                            <span>Настройки</span>
                        </a>

                        <a href="" class="dropdown-item text-light"> {# TODO: Link #}
                            <i class="ni ni-support-16 text-light"></i>
                            <span>Поддержка</span>
                        </a>

                        <div class="dropdown-divider text-light"></div>
                        <a href="{% url 'user_logout' %}" class="dropdown-item text-light">
                            <i class="ni ni-user-run text-light"></i>
                            <span>Выйти</span>
                        </a>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">

                    <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right bg-dark"
                         aria-labelledby="navbar-default_dropdown_1">
                        {% if pagename == 'Лента Проектов' %}
                            <a class="dropdown-item nav-link active" href="/">
                                {#                                страница для неавторизированных #}
                                <i class="ni ni-compass-04 text-dark"></i>Лента Проектов
                            </a>
                        {% else %}
                            <a class="dropdown-item nav-link" href="/"> {# TODO: Link #}
                                <i class="ni ni-compass-04 text-primary"></i>Лента Проектов
                            </a>
                        {% endif %}
                        {% if pagename == 'Вход' %}
                            <a class="dropdown-item nav-link active" href="{% url 'user_login' %}">
                                <i class="ni ni-key-25 text-dark"></i> Войти
                            </a>
                        {% else %}
                            <a class="dropdown-item nav-link" href="{% url 'user_login' %}">
                                <i class="ni ni-key-25 text-info"></i> Войти
                            </a>
                        {% endif %}
                        {% if pagename == 'Регистрация' %}
                            <a class="dropdown-item nav-link active" href="{% url 'user_register' %}">
                                <i class="ni ni-circle-08 text-dark"></i> Регистрация
                            </a>
                        {% else %}
                            <a class="dropdown-item nav-link" href="{% url 'user_register' %}">
                                <i class="ni ni-circle-08 text-pink"></i> Регистрация
                            </a>
                        {% endif %}
                    </div>

                </li>
            </ul>
        {% endif %}
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/">
                            <img src="{{ STATIC_URL }}img/brand/logo.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main"
                                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- SEARCH -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-muted" placeholder="Search"
                           aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- SEND OF SEARCH -->

            <!-- Navigation -->
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        {% if pagename == 'Лента Проектов' %}
                            <a class=" nav-link active" href="/">
                                {#                                страница для неавторизированных #}
                                <i class="ni ni-compass-04 text-primary"></i>Лента Проектов
                            </a>
                        {% else %}
                            <a class=" nav-link" href="/"> {# TODO: Link #}
                                <i class="ni ni-compass-04 text-blue"></i>Лента Проектов
                            </a>
                        {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_login' %}">
                            <i class="ni ni-key-25 text-info"></i> Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_register' %}">
                            <i class="ni ni-circle-08 text-pink"></i> Регистрация
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        {% if pagename == 'Лента Проектов' %}
                            <a class=" nav-link active" href="/">
                                <i class="ni ni-tv-2 text-primary"></i> Лента Проектов
                            </a>
                        {% else %}
                            <a class=" nav-link" href="/">
                                <i class="ni ni-tv-2 text-blue"></i> Лента Проектов
                            </a>
                        {% endif %}
                        {% if pagename == 'Мои Проекты' %}
                            <a class=" nav-link active" href="{% url 'projects_list' %}"> {# TODO: Link #}
                                <i class="ni ni-collection text-teal"></i> Мои Проекты
                            </a>
                        {% else %}
                            <a class=" nav-link" href="{% url 'projects_list' %}"> {# TODO: Link #}
                                <i class="ni ni-collection text-teal"></i> Мои Проекты
                            </a>
                        {% endif %}
                        {% if pagename == 'Новый Проект' %}
                            <a class=" nav-link active" href="{% url 'project_create' %}"> {# TODO: Link #}
                                <i class="ni ni-app text-red"></i> Новый Проект
                            </a>
                        {% else %}
                            <a class=" nav-link" href="{% url 'project_create' %}"> {# TODO: Link #}
                                <i class="ni ni-app text-red"></i> Новый Проект
                            </a>
                        {% endif %}
                        <!-- {% if pagename == 'Соревнования' and user.profile.confirmed is True %}
                            <a class=" nav-link active" href=""> {# TODO: Link #}
                                <i class="ni ni-trophy text-primary"></i> Соревнования
                            </a>
                        {% else %}
                            <a class="nav-link" href=""> {# TODO: Link #}
                                <i class="ni ni-trophy text-primary"></i> Соревнования
                            </a>
                        {% endif %}
                        {% if pagename == 'Мероприятия' and user.profile.confirmed is True %}
                            <a class=" nav-link active" href=""> {# TODO: Link #}
                                <i class="ni ni-diamond text-primary"></i> Мероприятия
                            </a>
                        {% else %}
                            <a class="nav-link" href=""> {# TODO: Link #}
                                <i class="ni ni-diamond text-primary"></i> Мероприятия
                            </a>
                        {% endif %}
                        -->
                    </li>
                {% endif %}
            </ul>
            <br>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {#                    15171e#}
                        {% include "blocks/user_projects.html" %}
                    </li>
                {% endif %}
            </ul>

            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <!-- <h6 class="navbar-heading text-muted">Другое</h6> -->
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href="https://concat.tilda.ws"> {#  TODO: Link #}
                        <i class="ni ni-planet"></i> О нас
                    </a>
                </li>
            </ul>
        </div>
        <div class="social-buttons">
            <div class="nav align-items-center pt-sm-0" style="margin-top: 1px;">
                <img src="{{ STATIC_URL }}img/brand/logo.png" width="55px" height="55px" alt="...">
            </div>
            <a href="https://vk.com/concat_team" class="social-buttons__button social-button social-button--facebook"
               aria-label="VK">
    <span class="social-button__inner">
     <i class="fab fa-vk" style="font-size: 20px;"></i>
    </span>
            </a>
            <a href="https://github.com/alphafinder" class="social-buttons__button social-button social-button--github"
               aria-label="GitHub">
    <span class="social-button__inner">
     <i class="fab fa-github" style="font-size: 20px;"></i>
    </span>
            </a>

        </div>
    </div>
</nav>
