
{% if pagename != 'Лента Проектов' %}
<form action="/search/?" method="get" class="glossary__search__form navbar-search form-inline mr-3 d-md-flex ml-lg-auto ml-sm-auto" id="main_search">
  <div class="form-group mb-0">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control" id="searchInput" placeholder="Поиск" type="search" value="{{ value }}">
        <input type="hidden" name="q" id="form-q" value="">
        <input type="hidden" name="type" id="form-type" value="projects">
        <input type="hidden" name="sort" id="form-sort" value="-created_at">
    </div>
  </div>
</form>

{% else %}

<form action="/search/?" class="glossary__search__form navbar-search form-inline mr-3 d-md-flex ml-lg-auto" id="main_search" method="get">
  <div class="form-group mb-0">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control" id="searchInput" placeholder="Поиск Проектов" type="text">
        <input type="hidden" name="q" id="form-q" value="">
        <input type="hidden" name="type" id="form-type" value="projects">
        <input type="hidden" name="sort" id="form-sort" value="-created_at">
    </div>
  </div>
</form>
{% endif %}
