 <div class="card ml-2 mt-3 mb-3" style="width: 14.5rem; background-color: #393a3e;">
    <div class="card-header border-0 pb-0" style="background-color: #393a3e;">
        <h4 class="mb-3" style="color: whitesmoke; margin-left: -10px;">Ваши Проекты: {{ nav_projects|length }}</h4>
    </div>
    <hr class="my-1"/>
    <ul class="list-group list-group-mine">
        {% for project in nav_projects %}
            <a href="{% url 'project_view' project.id %}" style="text-decoration: none; color:inherit;"><button type="button" class="list-group-item list-group-item-action">{{ project.name }}</button></a>
        {% endfor %}
    </ul>
</div>

{#  <div class="card ml-2 mt-2" style="width: 14.5rem; background-color: #393a3e;">#}
{#    <div class="card-header border-0 pb-0" style="background-color: #393a3e;">#}
{#        <h4 class="mb-3" style="color: whitesmoke; margin-left: -10px;">Ваши соревнования</h4>#}
{#    </div>#}
{#    <hr class="my-1"/>#}
{#    <ul class="list-group list-group-mine">#}
{#          <button type="button" class="list-group-item list-group-item-action">Разработка приложения для ds</button>#}
{#          <button type="button" class="list-group-item list-group-item-action">concat - никому не нужный сервис</button>#}
{#          <button type="button" class="list-group-item list-group-item-action">Анализ спутниковых снимков</button>#}
{#    </ul>#}
{#</div>#}