<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      concat
  </title>
  <!-- Favicon -->
  <link href="{{STATIC_URL}}img/brand/logo.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{{STATIC_URL}}js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="{{STATIC_URL}}js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{STATIC_URL}}css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{STATIC_URL}}css/other_styles.css" rel="stylesheet" />
</head>

<body class="">
  {% include "blocks/nav.html" %}

  <div class="main-content" style="padding-bottom: 60px;">
      <img src="{{STATIC_URL}}img/brand/background2_.png" class="bg">
{#    {% include "blocks/header.html" %}#}
        <div class="card bg-gradient-default shadow-hover await-card">
            <div class="card-header bg-transparent" style="text-align: center">
              <p>Чтобы получить доступ к созданию проектов, вам нужно подтвердить почту. Письмо с ссылкой для подтверждения отправлено.</p>
            </div>
            <a href="/" class="btn btn-sm btn-primary">Понятно</a>
        </div>

    <footer class="footer_fixed" style="background: #301c4f;">
        <div class="row align-items-center">
          <div class="col-xl-4">
            <div class="copyright text-center text-xl-right text-muted">
              © 2019 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">concat.support@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
    </footer>
  </div>


  <!--   Core   -->
<script src="{{STATIC_URL}}js/plugins/jquery/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/plugins/bootstrap/bootstrap.js"></script>
</body>

</html>
