<!DOCTYPE html>
{% load static %}
<html lang="en" style="">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        {{ pagename }}
        {% endblock %}
    </title>
    <!-- Favicon -->
    <link href="{% static "img/brand/logo.png" %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static "js/plugins/nucleo/css/nucleo.css"%}"  rel="stylesheet" />
{#    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">#}
    <link href="{% static "js/plugins/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link href="{% static "css/other_styles.css" %}" rel="stylesheet"/>
    <link href="{% static "css/argon-dashboard.css" %}" rel="stylesheet"/>

    <!-- extra CSS Files -->
    {% block extra_links %}
    {% endblock %}

    <style>
        @media screen and (max-width: 720px) {
            .footer {
                left: 0px;
            }
        }
    </style>
</head>

<body style="background: #35274E;">

{% block nav %}
{% include "blocks/nav.html" %}
{% endblock %}


{% block main_content_class %}
<div class="main-content">
{% endblock %}
    <span class="user-background">
        <img src="{{ STATIC_URL }}img/brand/dark_back.png" class="bg" style="pointer-events: none; user-select: none;">
    </span>
    {% block header %}
    {% include "blocks/header.html" %}

    <style>
        {% block styles %}
        {% endblock %}
    </style>

    <div class="header bg-transparent pb-3 pt-5 pt-md-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "blocks/messages.html" %}
{#    {% block footer %}#}
{#    {% endblock %}#}
</div>

<!--   Core   -->
{#<script src="{{ STATIC_URL }}js/plugins/jquery/jquery.min.js"></script>#}
<script src="{{ STATIC_URL }}js/plugins/bootstrap/bootstrap.js"></script>
<script>
    $("#message").fadeTo(1000, 500).slideUp(500, function(){
        $("#message").alert('close');
    });
</script>

{% if messages %}
    <script> // django alerts auto hide
    //add delay
     $(document).ready(function() {
        for (var i = 0; i < parseInt({{ messages|length }}); i++) {
            var x = "#message" + i.toString();
           // console.log(x);
            $(x).fadeTo(2000, 500).slideUp(500, function () {
                $(x).slideUp(500);
            });
        }
    });
    </script>

{% endif %}

<script>
    function ajaxAutoHideMessages(arrayLength) {
    // TODO ADD HIDING IN ORDER WITH DELAY
        for (var i = 0; i < parseInt(arrayLength); i++) {
            var x = "#message" + i.toString();
           // console.log(x);
            $(x).fadeTo(2000, 500).slideUp(500, function () {
                $(x).slideUp(500);
            });
        }
};
</script>

<script>
$(document).ready(function() {
    $('.selectpicker').selectpicker({
      size: 4
     });
});
</script>

<script>
    $(function() {

    $('#main_search').each(function() {
        $(this).find('input').keypress(function(e) {
            // Enter pressed?

            {#url.searchParams.append('x', 42);#}

            {#url.searchParams.set('x', 42);#}
            if(e.which == 10 || e.which == 13) {

                var url = new URL(this.form.action);
                console.log(url);
                var params = document.getElementById("searchInput").value.split(' ').join('+');

                var sort = 'Новое';
                if (sort == 'Новое'){
                    sort = '-created_at';
                }
                else {
                    sort = 'created_at';
                }


                document.getElementById("form-q").value = params;
                document.getElementById("form-sort").value = sort;

                this.form.submit();
            }
        });

        $(this).find('input[type=submit]').hide();
    });
    });
</script>

<!--   Optional JS   -->
{% block scripts %}
{% endblock %}
</body>

</html>
