{% extends 'base.html' %}

{% block title %}
    concat
{% endblock %}
{% block content %}

            {% for project in projects %}
                <div class="card-body">
                                <div class="card text-white border-0 mr--1" style="max-width: 40rem; max-height: 25rem;">
                                  <div class="card-header bg-primary text-black-50">
                                      <div class="row mx-auto" style="margin-left: 3%; color: #fff">
                                        <b>Название:</b> &nbsp  {{ project.name }}
                                      </div>
                                  </div>
                                    <div class="text-body" style="margin-left: 3%; margin-top: 1%; font-size: larger">
                                        Описание: <br>
                                    </div>
                                  <div class="card-body mb-2 overflow-hidden" style="display: inline-flex;">
                                    <p class="card-text text-default ">{{ project.description }}</p>
                                    <div class="card-avatar">
                                        <img src="{{ MEDIA_URL }}{{ project.author.profile.avatar}}" alt="Аватар">
                                    </div>
                                  </div>
                                    <div class="card-footer pb-2 pt-1">
                                        <div class="row justify-content-around" style="">
                                          <a href="#" class="btn btn-default">Подробнее о проекте</a>
                                        </div>
                                    </div>
                                </div>
                </div>
            {% endfor %}

{% endblock %}
{% block footer %}
    <footer class="footer_fixed" style="background: #301c4f;">
        <div class="row align-items-center">
          <div class="col-xl-4">
            <div class="copyright text-center text-xl-right text-muted">
              © 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">concat.support@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
    </footer>
{% endblock %}