<!DOCTYPE html>
<html lang="en">
{#{% load socialaccount %}#}
{% load static %}
{#{% load i18n %}#}
{#{% load socialaccount %}#}
{#{% load account socialaccount %}#}
{#{% providers_media_js %}#}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    concat
  </title>
  <!-- Favicon -->
  <link href="{{ STATIC_URL }}img/brand/logo.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{{ STATIC_URL }}js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{ STATIC_URL }}css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/other_styles.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body class="bg-custom-login-color">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="" href="/">
          <img src="{{ STATIC_URL }}img/brand/logo.png" alt="..." width="110px" height="120px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="/">
                  <img src="{{ STATIC_URL }}img/brand/black-bg.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main"
                        aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/">
                <i class="ni ni-planet"></i>
                <span class="nav-link-inner--text">На главную</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-indigo py-7 py-lg-8">
{#    <div class="header bg-gradient-custom-header-login-color py-7 py-lg-8">#}
      <div class="container">
        <div class="header-body text-center mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Привет.</h1>
              <p class="text-lead text-light">Войдите в Ваш аккаунт, чтобы продолжить.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg class="login-hover" x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100" style="fill: #212529;"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Быстрый старт</small></div>
              <div class="btn-wrapper text-center">
                <a class="btn btn-neutral btn-icon " href="{% url 'social:begin' 'github' %}">
{#                <a href="{% provider_login_url "github" process="login" method="js_sdk" %}" class="btn btn-neutral btn-icon">#}
                  <span class="btn-inner--icon"><img src="{{ STATIC_URL }}img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a class="btn btn-neutral btn-icon">
{#                  <a href="{% provider_login_url "google" process="login" method="js_sdk" %}" class="btn btn-neutral btn-icon">#}
                  <span class="btn-inner--icon"><img src="{{ STATIC_URL }}img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a></div><br>
                <div class="btn-wrapper text-center">
                  <!-- {{ telegram_login_widget|safe }} --> {% autoescape off %}
                        {{ telegram_login_widget }}{% endautoescape %}
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Обычная аутентификация</small>
              </div>


            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" id="message{{ forloop.counter0 }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    {{ message }}
                  </div>
                {% endfor %}

            {% endif %}

            <br>



              <form role="form" action="{% url 'user_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {{ form.username }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password }}
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  {{ form.remember_me }}
                  <label class="custom-control-label" for="customCheckLogin">
                    <span class="text-muted">Запомнить меня</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Войти</button>
                </div>
              </form>



            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="/account/reset/" class="text-light"><small>Забыли пароль?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="{% url 'user_register' %}" class="text-light"><small>Создать новый аккаунт</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              © 2019
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Дизайн</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">О нас</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--   Core   -->
  <script src="{{ STATIC_URL }}js/plugins/jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/bootstrap/bootstrap.bundle.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/bootstrap/bootstrap.js"></script>
  {% if messages %}
    <script>
    //add delay
     $(document).ready(function hideMessages() {
        for (var i = 0; i < parseInt({{ messages|length }}); i++) {
            var x = "#message" + i.toString();
            console.log(x);
            $(x).fadeTo(2000, 500).slideUp(500, function () {
                $(x).slideUp(500);
            });
        }
    });
    </script>

{% endif %}
</body>

</html>
