{% extends 'base.html' %}

{% block title %}
    Редактирование
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link href="{{STATIC_URL}}css/bootstrap-tagsinput.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="/static/css/typeagead-styles.css">
{% endblock %}

{% block styles %}
    .CodeMirror, .CodeMirror-scroll {
        min-height: 575px;
    }

    #id_name {
        max-width: 80%;
        font-size: 20px;
        color: black;
    }
{% endblock %}

{% block content %}
    <div class="main-content pb-10 ml-4">
        <div class="col-xl-12 order-xl-1 scrolling mb-5">
                <form role="form" method="POST" id="project-form" action="/p/{{ user_id }}">
                    {% csrf_token %}

                <div class="card">
                  <div class="card-header">
                        <ul class="nav nav-tabs justify-content-between" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">Описание</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Команда</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="extra-tab" data-toggle="tab" href="#extra" role="tab" aria-controls="extra" aria-selected="false">Настройки</a>
                          </li>

                         <li><button type="submit" class="btn btn-sm btn-primary float-right">Обновить</button></li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

                              <div class="card bg-secondary shadow">
                                    <div class="card-header bg-white border-0">
                                            <div class="row align-items-center">
                                            <div class="col-8">
                                                <h3 class="mb-0">
                                                    <input type="text" name="name" class="form-control" value="{{ project.name }}" placeholder="Название" label="name" required="" id="id_name">
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">

                                        <div class="row ml-lg-2">
                                        <div class="col-lg-3 column-left ml-lg--4" style="">
                                            <div class="col-lg-13">
                                            <div class="col-lg-15">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="{{ form.technical_spec_url.id }}">Ссылка на тех-задание (google docs)</label>
                                                    {{ form.technical_spec_url }}
                                                </div>
                                            </div>
                                            <div class="col-lg-15">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="{{ form.vcs_url.id }}">Ссылка на систему контроля версий</label>
                                                        {{ form.vcs }}
                                                    </div>
                                            </div>
                                            <div class="col-lg-15">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="{{ form.max_people.id }}">Размер команды (0 - не задан)</label>
                                                        {{ form.max_people }}
                                                    </div>
                                            </div>

                                            <div class="col-lg-15">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="{{ form.trello.id }}">Kanban Board</label>
                                                        {{ form.trello }}
                                                    </div>
                                            </div>

                                            <div class="col-lg-15">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="{{ form.callback.id }}">Кооперация</label>
                                                        {{ form.callback }}
                                                    </div>
                                            </div>

                                               <div class="col-lg-15">
                                               <div class="form-group">
                                                    <label for="">Тип проекта</label>
                                                    <select name="is_public" class="form-control form-control-alternative" id="type">
                                                    {% if project.is_public == 1 %}
                                                      <option selected="selected" value="1">Открытый</option>
                                                      <option value="0">Приватный</option>
                                                    {% else %}
                                                        <option value="1">Открытый</option>
                                                        <option selected="selected" value="0">Приватный</option>
                                                    {% endif %}

                                                    </select>
                                                      </div>
                                            </div>


                                            </div>
                                        </div>

                                        <div class="ml-lg-4 col-lg-9 mt-0">
                                                    <label class="form-control-label" for="input-description">Расширенное описание*</label>
                                                    <div class="form-group">
                                                         <textarea name="description" type="text" cols="40" rows="4" placeholder=""
                                                                   id="input-description" minlength="300" maxlength="5000"
                                                                   class="form-control form-control-alternative">{{ form.description.value }}</textarea>
                                                </div>
                                        </div>
                            </div>

                            <hr class="my-4"/>

                            <div class="col-lg-9 mt-0 ml--2">
                                <label class="form-control-label" for="input-description">Тэги быстрого поиска: </label>
                            <div class="bootstrap-tagsinput">
                                <input class="typeahead form-control" type="text" name="tags"
                                       data-role="tagsinput" id="tags-input" value="{{ project.list_tags }}" minlength="2" required="">
                            </div>
                            </div>

                        </div>
                    </div>

                          </div>


                          <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                              {% include "blocks/project_view_command.html" %}
                          </div>
                          <div class="tab-pane fade" id="extra" role="tabpanel" aria-labelledby="extra-tab">...</div>
                        </div>
                  </div>
{#                  <div class="card-body">#}
{#                    <h5 class="card-title">Special title treatment</h5>#}
{#                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                    <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#                  </div>#}
{#                </div>#}

                </form>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'blocks/footer.html' %}
{% endblock %}

{% block scripts %}
    <script></script>
    <script>
        new SimpleMDE({
            element: document.getElementById("input-description"),
            autosave: {
                enabled: true,
                unique_id: "input-description",
		    },
            spellChecker: false,
            previewRender: function(plainText, preview) { // Async method
                setTimeout(function(){
                    preview.innerHTML = customMarkdownParser(plainText);
                }, 250);

                return "Загрузка...";
            },
            placeholder: "Что конкретно Вы ходите сделать? Подробно опишите идею и цели Вашего проекта. Вы сможете редактировать это поле в дальнейшем.",
        });
    </script>
        <script src="/static/js/bootstrap-tagsinput.js"></script>
    <script src="/static/js/typeahead.js"></script>
    <script>
        var data = '{{ tags }}'.replace(/&quot;/g,'"');
        var task = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: jQuery.parseJSON(data) //your can use json type
        });

        task.initialize();

        $('#tags-input').tagsinput({
          {#itemValue: "value",#}
          {#itemText: "text",#}
          typeaheadjs: {
            name: "task",
            displayKey: "text",
            source: task.ttAdapter()
          }
        });

        //insert data to input in load page


    </script>
    <script>
        $('#project-form').on('keyup keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) {
            e.preventDefault();
            return false;
          }
        });
    </script>
{% endblock %}