{% extends 'base.html' %}

{% block title %}
    Новый проект
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{#    <link href="{{STATIC_URL}}css/bootstrap-tagsinput.css" rel="stylesheet" />#}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="/static/css/typeagead-styles.css">

{% endblock %}

{% block styles %}
    .CodeMirror, .CodeMirror-scroll {
        min-height: 575px;
    }
{% endblock %}

{% block content %}
    <div class="main-content pb-10 ml-4">
        <div class="col-xl-12 order-xl-1 scrolling mb-5">
                <form role="form" method="POST" id="project-form">
                    {% csrf_token %}
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Ваш новый проект</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <h6 class="heading-small text-muted mb-2 mt--1">Постарайтесь заполнить все поля.</h6>
                            <hr class="my-4"/>

                            <div class="row ml-lg-2">
                            <div class="col-lg-3 column-left ml-lg--4" style="">
                                <div class="col-lg-13">
                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ form.name.id }}"
                                                   id="focus">Название проекта</label>
                                            {{ form.name }}
                                </div>
                                <div class="col-lg-15">
                                    <div class="form-group">
                                        <label class="form-control-label" for="{{ form.technical_spec_url.id }}">Ссылка на тех-задание (google docs)</label>
                                        {{ form.technical_spec_url }}
                                    </div>
                                </div>
                                <div class="col-lg-15">
                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ form.vcs_url.id }}">Ссылка на систему контроля версий</label>
                                            {{ form.vcs }}
                                        </div>
                                </div>
                                <div class="col-lg-15">
                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ form.max_people.id }}">Размер команды (0 - не задан)</label>
                                            {{ form.max_people }}
                                        </div>
                                </div>

                                <div class="col-lg-15">
                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ form.trello.id }}">Kanban Board</label>
                                            {{ form.trello }}
                                        </div>
                                </div>

                                <div class="col-lg-15">
                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ form.callback.id }}">Кооперация</label>
                                            {{ form.callback }}
                                        </div>
                                </div>

                          <div class="col-lg-15">
                                   <div class="form-group">
                                        <label for="">Тип проекта</label>
                                        <select name="is_public" class="form-control form-control-alternative" id="type">
                                          <option selected="selected" value="1">Открытый</option>
                                          <option value="0">Приватный</option>
                                          <option value="2">Рекрутинг</option>
                                        </select>
                                          </div>
                                </div>

                                </div>
                            </div>

                            <div class="ml-lg-4 col-lg-9 mt-0">
                                        <label class="form-control-label" for="input-description">Расширенное описание</label>
                                        <div class="form-group">
                                             <textarea name="description" type="text" cols="40" rows="4" placeholder=""
                                                       id="input-description" minlength="300" maxlength="5000"
                                                       class="form-control form-control-alternative"></textarea>
                                    </div>
                            </div>
                            </div>

                            <hr class="my-4"/>

                            <div class="col-lg-9 mt-0 ml--2">
                                <label class="form-control-label" for="input-description">Тэги быстрого поиска: </label>
                            <div class="bootstrap-tagsinput">
                                <input class="typeahead form-control" type="text" name="tags"
                                       data-role="tagsinput" id="tags-input" minlength="2" required="">
                            </div>
                            </div>

                        </div>
                    </div>
                
                </form>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'blocks/footer.html' %}
{% endblock %}

{% block scripts %}

    <script>
        $('#project-form').on('keyup keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) {
            e.preventDefault();
            return false;
          }
        });
    </script>
    <script>
        new SimpleMDE({
            element: document.getElementById("input-description"),
            autosave: {
                enabled: true,
                unique_id: "input-description",
		    },
            spellChecker: false,
            previewRender: function(plainText, preview) { // Async method
                setTimeout(function(){
                    preview.innerHTML = customMarkdownParser(plainText);
                }, 250);

                return "Загрузка...";
            },
            placeholder: "Что конкретно Вы ходите сделать? Кого-то найти? Если ваща цель - некоммерческая разработка и " +
                "поиск единомышленников, подробно опишите идею и цели Вашего проекта." +
                " Если же Вы занимаетесь рекрутингом, напишите здесь, кого вы ищете." +
                " Постарайтесь также указать теги, по которым будет происходить ранижрование результатов поиска." +
                " Вы сможете редактировать это поле в дальнейшем.",
        });
    </script>
    <script src="/static/js/bootstrap-tagsinput.js"></script>
    <script src="/static/js/typeahead.js"></script>
    <script>
        var data = '{{ tags }}'.replace(/&quot;/g,'"');
        var task = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: jQuery.parseJSON(data) //your can use json type
        });

        task.initialize();

        $('#tags-input').tagsinput({
          {#itemValue: "value",#}
          {#itemText: "text",#}
          typeaheadjs: {
            name: "task",
            displayKey: "text",
            source: task.ttAdapter()
          }
        });

        //insert data to input in load page


    </script>
    <script>
        function checkURL(o) {
            if (!/^https?:\/\//i.test(o.value) && o.value != "") {
                o.value = "https://" + o.value;
            }
        }
    </script>
{% endblock %}