{% extends 'base.html' %}

{% block title %}
    Активные проекты
{% endblock %}

{% block styles %}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .9rem;
}

ellips {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

{% endblock %}

{% block content %}
{#    <h1>Articles</h1>#}
{#    <ul>#}
{#    <p>{{ object_list }}</p>#}
{#    {% for project in object_list %}#}
{#        <li>{{ project.name }} </li>#}
{#    {% empty %}#}
{#        <li>No articles yet.</li>#}
{#    {% endfor %}#}
{#    </ul>#}

     <div class="main-content ml-5 mr-5">
        <div class="card-deck">
            {% for pr in object_list %}
{#                <div class="col-sm-6 mb-4">#}
                    <div class="card text-white border-0 mr--1" style="max-width: 40rem; max-height: 25rem;">
                      <div class="card-header bg-primary text-black-50">
                          <div class="row mx-auto">
                          {{ pr.name }}
                          <div class="float-right">
                            <a href="#" class="btn btn-default fa fa-edit"></a>
                          </div>
                          </div>
                      </div>
                      <div class="card-body mb-2 overflow-hidden">
{#                        <h5 class="card-title">Primary card title</h5>#}
                        <p class="card-text text-default ">{{ pr.description }}</p>
                      </div>
                        <div class="card-footer pb-2 pt-1">
{#                          <small class="text-muted">Last updated 3 mins ago</small>#}
                            <div class="row justify-content-around">
{#                                <a href="#" class="btn btn-default">Подробнее о проекте</a>#}
                            </div>
                        </div>
                    </div>
{#                </div>#}
            {% empty %}
                <p>No</p>
            {% endfor %}









{#          <div class="col-sm-6">#}
{#            <div class="card">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title">Special title treatment</h5>#}
{#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-sm-6 mb-4">#}
{#            <div class="card">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title">Special title treatment</h5>#}
{#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#            <div class="col-sm-6">#}
{#            <div class="card">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title">Special title treatment</h5>#}
{#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#     </div>#}

{% endblock %}
