{% extends 'base.html' %}


{% block extra_links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeagead-styles.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
{% endblock %}

{% block styles %}
    .CodeMirror, .CodeMirror-scroll {
    min-height: 575px;
    }

    #id_name {
    max-width: 80%;
    font-size: 20px;
    color: black;
    }

    first {
    z-index: 1000;
    }

    .autocomplete {
    position: relative;
    display: inline-block;
    }
    .autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    }

{% endblock %}

{% block content %}
    <div class="main-content pb-10 ml-4">

        <div class="ml-4">
            <div class="row" style="width: 100%;">

                <div class="col-2 col-sm-2 mr--1">
                    <div class="mb-3">

                        <div class="list-group" id="myTab" role="tablist">
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'project_edit' project.id %}" role="tab" aria-controls="about">Описание</a>
                            <a class="list-group-item list-group-item-action active" href="" role="tab" aria-controls="team">Команда</a>
                        </div>

                    </div>

                </div>

                <div class="col-10 order-xl-1 scrolling mb-5">
                    <form role="form" method="POST" id="project-form" action="/project/e/{{ project.id }}/team/">
                        {% csrf_token %}

                        <div class="mt--4">
                            <div class="card-body">

                                <div class="tab-content" id="myTabContent" style="width: 100%;">
                                    <div class="tab-pane fade show active" id="about" role="tabpanel"
                                         aria-labelledby="about-tab">


                                        <div class="card shadow">
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    {% for c in project.collaborators.all %}
                                                        <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                                                            <div class="d-flex flex-row" style="width: 100%;">
                                                                <div class="row align-self-center align-items-center">
                                                                    <div class="col-4 ml-2">
                                                                        <span class="avatar rounded-circle" style="width: 30px; height: 30px;">
                                                                           <a href="{{ c.member.profile.link }}"><img alt="{{ c.username }}"
                                                                                                                      src="{{ c.member.profile.avatar_url }}"></a>
                                                                        </span>
                                                                    </div>
                                                                    <span class="ml-3">{{ c.member.username }}</span>
                                                                </div>
                                                                <div class="row align-self-center">
                                                                    {% if c.is_teamlead is True %}
                                                                        <div class="col-4 mr-4">
                                                                            <span class="badge badge-danger badge-pill">Тимлид</span>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if c.member == project.author %}
                                                                        <div class="">
                                                                            <span class="badge badge-success badge-pill">Создатель</span>
                                                                        </div>
                                                                    {% endif %}
                                                                    {#                    <div class="col-1">#}
                                                                    {#                        <span class="badge badge-primary badge-pill " style="font-size: 17px;">{{ c.role }}</span>#}
                                                                    {#                    </div>#}
                                                                    {#                    </div></li>#}
                                                                </div>


                                                                <div class="row mr-1 ml-auto" style="max-width: 100%;">
                                                                    <div class="col-12">
                                                                        <select class="selectpicker form-control first"
                                                                                id="select1" data-style="btn-gray"
                                                                                data-live-search="true" multiple
                                                                                data-width="100%" data-max-options="4">
                                                                            <option data-tokens="программист разработчик">
                                                                                Программист
                                                                            </option>
                                                                            <option data-tokens="программист разработчик старший главный">
                                                                                Старший программист
                                                                            </option>
                                                                            <option data-tokens="дизайнер фронт front">
                                                                                Дизайнер
                                                                            </option>
                                                                            <option data-tokens="аналитик data science">
                                                                                Аналитик
                                                                            </option>
                                                                            <option data-tokens="AI ai engineer">AI
                                                                                engineer
                                                                            </option>
                                                                            <option data-tokens="менеджер">Менеджер
                                                                            </option>
                                                                            <option data-tokens="dev ops">DevOps
                                                                            </option>
                                                                            <option data-tokens="admin">Администратор
                                                                            </option>
                                                                            <option data-tokens="тест">Тестировщик
                                                                            </option>
                                                                            <option data-tokens="проект">Проектировщик
                                                                            </option>
                                                                            <option data-tokens="бэк программист">
                                                                                Backend
                                                                                engineer
                                                                            </option>
                                                                            <option data-tokens="фронт">Frontend
                                                                                developer
                                                                            </option>
                                                                            <option data-tokens="фуллстак стак программист">
                                                                                Fullstack developer
                                                                            </option>
                                                                            <option data-tokens="андроид android программист">
                                                                                Андроид разработчик
                                                                            </option>
                                                                            <option data-tokens="ios айос программист">
                                                                                iOS
                                                                                разработчик
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                                <hr class="my-4"/>
                                                <div class="card bg-secondary text-muted mb-2" style="height: 300px;">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert {{ message.tags }} alert-dismissible"
                                                                 id="message{{ forloop.counter0 }}" role="alert">
                                                                <button type="button" class="close" data-dismiss="alert"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}

                                                    {% endif %}
                                                    <form action='/project/e/{{ project.id }}/team/add/' autocomplete='off'>
                                                        <div class="d-flex flex-row justify-content-around align-items-center">
                                                            <div class="input-group mb-3"
                                                                 style="width: 70%; z-index: 0;">

                                                            {{ form.username }}
                                                                <div class="input-group-append"
                                                                     style="margin-left: 1px;">
                                                                    <button class="btn btn-outline-primary"
                                                                            type="button-addon2" type="submit">
                                                                        Пригласить в
                                                                        команду
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>


                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'blocks/footer.html' %}
{% endblock %}

{% block scripts %}

    <script>
        new SimpleMDE({
            element: document.getElementById("input-description"),
            autosave: {
                enabled: false,
                unique_id: "input-description",
            },
            spellChecker: false,
            placeholder: "Что конкретно Вы ходите сделать? Подробно опишите идею и цели Вашего проекта. Вы сможете редактировать это поле в дальнейшем.",
        });
    </script>
    <script src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script src="{{ STATIC_URL }}js/ajax_search_user.js"></script>
    {#    <script src="{{ STATIC_URL }}js/select_with_input.js"></script>#}
    <script src="{{ STATIC_URL }}js/typeahead.js"></script>
    <script>
        var data = '{{ tags }}'.replace(/&quot;/g, '"');
        var task = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: jQuery.parseJSON(data) //your can use json type
        });

        task.initialize();

        $('#tags-input').tagsinput({
            {#itemValue: "value",#}
            {#itemText: "text",#}
            typeaheadjs: {
                name: "task",
                displayKey: "text",
                source: task.ttAdapter()
            }
        });

        //insert data to input in load page


    </script>
    <script>
        $('#project-form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}