{% extends 'base.html' %}

{% block title %}
    concat
{% endblock %}

{% block extra_links %}

    <link rel="stylesheet" href="/static/css/index_search.css">

{% endblock %}

{% block styles %}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .9rem;
}

ellips {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

{% endblock %}

{% block content %}



<div class="main-content ml-5 mr-5">
    <div class="container py-4">

{#        <nav class="glossary__nav mb-4">#}
{#            <ul class="list-inline">#}
{#                <li class="glossary__nav__item active">#}
{#                    <a class="card card__content" data-nav="#" data-toggle="glossary" href="#">#</a>#}
{#                </li>#}
{#                <li class="glossary__nav__item">#}
{#                    <a class="card card__content" data-nav="A" data-toggle="glossary" href="#">A</a>#}
{#                </li>#}
{#                <li class="glossary__nav__item">#}
{#                    <a class="card card__content" data-nav="B" data-toggle="glossary" href="#">B</a>#}
{#                </li>#}
{#                <li class="glossary__nav__item">#}
{#                    <a class="card card__content" data-nav="C" data-toggle="glossary" href="#">C</a>#}
{#                </li>#}
{#                <li class="glossary__nav__item">#}
{#                    <a class="card card__content" data-nav="D" data-toggle="glossary" href="#">D</a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
        <!--END Glossary Nav-->
        <div class="glossary__search mb-3">
            <div class="row justify-content-between">

            <form action="/search/?"  class="glossary__search__form col-9" id="main_search" method="get">

                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback mt-1"></span>
                    <input class="form-control" id="searchInput" value="{{ value }}" placeholder="Поиск среди проектов: теги через пробел, имя пользователя и т.п." type="search">
                  </div>

                    <input type="hidden" name="q" id="form-q" value="">
                    <input type="hidden" name="type" id="form-type" value="projects">
                    <input type="hidden" name="sort" id="form-sort" value="-created_at">
            </form>
            <select class=" mr-3 mt-1 sort-btn" id="sort_btn" data-style="btn-white" style="height: 80%;">
                {% if sort == '-created_at' %}
                <option selected data-tokens="Новое" id="-created_at">Новое</option>
                <option data-tokens="Новое" id="created_at">Старое</option>
                {% elif sort == 'created_at' %}
                <option data-tokens="Новое" id="-created_at">Новое</option>
                <option selected data-tokens="Новое" id="created_at">Старое</option>
                {% endif %}
                <option data-tokens="Новое">Лучшее</option>
            </select>

            </div>
        </div>
        <!--END Glossary Search-->



        <h3 class="glossary__results__term title-style--three" style="width: 100%;"></h3>
        <div class="glossary__results mb-6 card-columns" style="width: 100%;">
            <div class="glossary__results__row" data-term="#">
{#                <div class="row">#}
                {% for pr in object_list %}
                    <div class="glossary__results__item mb--1" data-item="{{pr.name.title}}">
                        <div class="card" href="#" style="{{ pr.card_color }}">

                            <div class="card-body" style="max-height: 40rem;">
                                <div class="row">


                                    <!--START title-->
                                    <div class="col-12 col-md-6 col-sm-12">
                                        <h4 class="card-title card__title" style="width: 100%;">
                                          <span>{{pr.name.title}}</span>
                                        </h4>
                                    </div>
                                    <!--END title-->

                                    <div class="col-12 col-md-6">
                                            <div class="btn-toolbar float-right" role="group">
                                                {% if pr.is_public == 1 %}
                                                 <div class="btn-group mr-2 top--2 right--4" role="group" aria-label="First group">
                                                  <button class='btn btn-outline-light p-1' style="font-size: 20px; margin-right: 5px;">
                                                     <i class="fa fa-unlock" style=""></i>
                                                    </button>
                                                 </div>
                                                {% else %}
                                                     <div class="btn-group mr-2 top--2 right--4" role="group" aria-label="First group">
                                                  <button class='btn btn-light p-1' style="font-size: 20px; margin-right: 5px;">
                                                     <i class="fa fa-lock" style=""></i>
                                                    </button>
                                                 </div>
                                                {% endif %}
                                                <div class="btn-group mr-2 top--2 right--3" role="group" aria-label="Second group">
                                                    {% if user in pr.members_with_edit_rights%}
                                                    <a href="/project/e/{{ pr.id }}">
                                                      <button class='btn btn-danger float-right' style="">
                                                           <i class="fa fa-edit" style=""></i>
                                                          </button>
                                                    </a>
                                                    {% else %}
                                                    <a href="/project/v/{{ pr.id }}">
                                                    <button class='btn btn-primary float-right' style="">
                                                       <i class="fa fa-book-open" style=""></i>
                                                    </button></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>

                                </div>

                                <p class="card-text" style="max-height: 350px; overflow: hidden;">{{ pr.description.title }}</p>
                                {% if pr.author.username == user.username %}
                                    <footer class="blockquote-footer">Создатель: <cite title="Source Title"><b>Вы</b></cite></footer>
                                {% else %}
                                    <footer class="blockquote-footer">Создатель: <cite title="Source Title"><b>{{ pr.author.username }}</b></cite></footer>
                                {% endif %}
                                <footer class="blockquote-footer">Создан: <b>{{ pr.created_at }}</b></footer>
                            </div>

                            <div class="card-footer container bg-secondary">
                                <div class="row" style="display:flex">
                                    {% for tag in pr.tags.all %}
                                        <a class="mr-1 mb-1 badge badge-info">#{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card-footer bg-secondary text-muted">
                                <div class="row">
                                <div class="col-12 col-md-6 col-sm-12">
                                    {% for c in pr.collaborators.all %}
                                        <span class="avatar rounded-circle" style="width: 30px; height: 30px;" title="{{ c.member.username }}">
                                           <a href="{{ c.member.profile.link }}"><img alt="{{ c.member.username }}" src="{{ c.member.profile.avatar_url }}"></a>
                                        </span>
                                    {% endfor %}
                                </div>
                                <div class="col-12 col-md-6 col-sm-12">
                                    <h5  class="float-right">
                                    {{ pr.get_status }}
                                    </h5 >
                                    <br>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--END Glossary Result item-->
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% block scripts %}
{#    <script src="/static/js/index_search.js"></script>#}
<script type="text/javascript">
// Using jQuery.

$(function() {

    $('#main_search').each(function() {
        $(this).find('input').keypress(function(e) {
            // Enter pressed?

            {#url.searchParams.append('x', 42);#}

            {#url.searchParams.set('x', 42);#}
            if(e.which == 10 || e.which == 13) {

                var url = new URL(this.form.action);
                console.log(url);
                var params = document.getElementById("searchInput").value.split(' ').join('+');

                var sel = document.getElementById("sort_btn");
                var sort = sel.options[sel.selectedIndex].value;

                if (sort == 'Новое'){
                    sort = '-created_at';
                }
                else {
                    sort = 'created_at';
                }


                document.getElementById("form-q").value = params;
                document.getElementById("form-sort").value = sort;

                this.form.submit();
            }
        });

        $(this).find('input[type=submit]').hide();
    });
    });

    $('#sort_btn').change(function() {
        var url = new URL(window.location.href);
        console.log(url);
        var params = document.getElementById("searchInput").value.split(' ').join('+');

        var sel = document.getElementById("sort_btn");
        var sort = sel.options[sel.selectedIndex].value;

        if (sort == 'Новое'){
            sort = '-created_at';
        }
        else {
            sort = 'created_at';
        }


        document.getElementById("form-q").value = params;
        document.getElementById("form-sort").value = sort;
        $('#main_search').submit();
    });

</script>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>#}

{% endblock %}

{% endblock %}
